.Rectangle3 {
    width: 80%;
    height: 100%;
    margin: 2px 5px 2px 5px;
    padding: 2em 2em 2em 2em;
    background: #D9D9D9;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25)
}

.containerAdmin {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container-login{
    margin-top: 10em;
}
.navAdmin {
    width: 30%;
    height: 100vh;
    background: rgba(62, 116, 123, 0.89);
    box-shadow: 4px 0px 10px 2px rgba(0, 0, 0, 0.25);
    padding: 20px;
    box-sizing: border-box;
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}
.div-btn-crear{
    margin: 1.5em;
}
.contentAdmin {
    background: #D9D9D9;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.a_pagination {
    color: #007bff; /* Color del enlace, puedes ajustarlo según tus preferencias */
    text-decoration: none;
    background-color: #D9D9D9;
}

.a_pagination:hover {
    text-decoration: underline;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lista{
        list-style: none; /* Elimina las viñetas */
        padding: 0;
        margin-bottom: 1,5em;

}
.barra_intermedia{
    width: 100%;
    border: 1px solid white;
}
.alinear-derecha{
    align-content: end;
}
